.banner {
    margin-top: 80px;
    margin-bottom: 52px;
    img {
        width: 100%;
        object-fit: cover;

    }
}
@media screen and (max-width: 540px) {
    .banner {
        margin-top: 0;
    }
}
