$font : "Inter";
$heading-color : linear-gradient(0deg, #021A84, #021A84),
linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$primary-color : rgba(2, 26, 132, 1);
$button-color :rgba(254, 76, 76, 1);
$heading-bg: rgba(255, 255, 255, 0.9);
$text-color-black: #171717;
